/* Containers -------------------- */

body {
	margin: 0px;
}

.flex_column {
	@extend %flex;
	@extend %flex-column;
}

.flex_row {
	@extend %flex;
	@extend %flex-row;
}


.main {
	@include breakpoint(medium){
      flex-direction: column;
      -webkit-flex-direction: column; 
  	}
}


/* Left Nav -----------------------*/

nav.left_nav {
	width: 90px;
	background: $dark-purple;
	@include breakpoint(medium){
      width: 100%;
  	}
}

.nav_menu {
	padding-top: .5em;

	a {
		width: 32px;
		margin: 0 auto;
		display: block;
		@include breakpoint(medium){
      		width: 25px;
  	    }
	}
	@include breakpoint(medium){
      flex-direction: row;
      -webkit-flex-direction: row; 
      padding: 0;

  	}
}

ul.nav_icons {
	list-style: none;
	padding: .8em 0;
	width: 100%;
	margin: .5em 0;
	@include breakpoint(medium){
      padding: 1em .5em;
      margin: 0 5%;
  	}
  	&:hover {
  	@include breakpoint(medium){
      border-bottom: 3px solid $white;
  	}

  	}
}

ul.nav_icons:first-child {
	border-left: 3px solid $neon-green;
	@include breakpoint(medium){
	  border-left: none;
      border-bottom: 3px solid $neon-green;
  	}
}


/* Main Content -------------------*/

.main_section {
	width: 100%;
}

.main_header {
	@extend %flex-align;
	@extend %flex-center;
	@include breakpoint(medium){
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse; 
  	}
}

.traffic_container {
	@extend %flex-space;
	@extend %flex-align;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
	@extend %flex-space;
	@include breakpoint(large){
      width: 90%;
  	}
}

.daily_traffic_widget, .mobile_users_widget, .new_members_widget, .recent_activity_widget, .message_user_widget, .settings_widget {
	flex: 1;
	-webkit-flex: 1;
}

.daily_traffic_widget, .mobile_users_widget {
	width: 50%;
	@include breakpoint(large){
      width: 100%;
    }
}

.daily_traffic_chart, .traffic_chart, .mobile_users_chart {
	width: 95%;
	margin: 0 auto 1em;
}

.traffic_mobile .wrapper, .members .wrapper, .message_settings .wrapper {
	@include breakpoint(large){
      flex-direction: column;
      -webkit-flex-direction: column; 
  }
}

.social_container {
	@extend %flex-space;
	@include breakpoint(medium){
      flex-direction: column;
      -webkit-flex-direction: column; 
      width: 70%;
      margin: 0 auto;
  	}
}

.new_members_widget, .message_user_widget {
	padding-right: 2.5%;
	@include breakpoint(large){
      padding-right: 0;
  }
}

.recent_activity_widget, .settings_widget, .mobile_users_widget {
	padding-left: 2.5%;
	border-left: 1px solid $light-grey;
	@include breakpoint(large){
      padding-left: 0;
      border-left: none;
      border-top: 1px solid $light-grey;
    }
}

.member_info {
	padding: 18px 0;
	border-bottom: 1px solid $light-grey;
	@extend %flex-space;
	@extend %flex-align;
	&:last-child {
		border-bottom: none;
		margin-bottom: 7px;
	}
}

.member_left {
	@extend %flex;
	@extend %flex-row;
	@extend %flex-align;
}

.message_settings {
    margin-bottom: 35px;
}

.message_user_widget, .settings_widget {
	padding-bottom: 35px;
}

.message_user_widget {
	position: relative;
}

.submit_alert {
	position: absolute;
	left: 25%;
    top: 30%;
    width: 50%;
    height: 40%;
	background-color: $neon-green;
	@extend %flex;
	@extend %flex-column;
}

.submit_alert i.fa.fa-times {
	align-self: flex-end;
	margin: 2px 2px 0 0;
}

.submit_message {
	color: white;
	text-align: center;
	font-size: 1.2em;
	margin: auto;
}










