/* Base Styles -------------------- */



header {
  background-color: $med-purple;
  color: $white;
}

.social_widget {
  @extend %flex;
  flex: 0 1 330px;
  @extend %flex-align;
  border: 1px solid $light-grey;
  border-radius: 4px;

  svg {
    height: 35px;
    fill: $white;
    @extend %flex-align;
   
  }

   @include breakpoint(large){
      flex: 0 1 30%;
      margin: .5em 0;
      justify-content: center;
      -webkit-justify-content: center;
  }

}

i.fa.fa-circle {
    font-size: .5em;
    align-self: flex-start;
    color: $neon-green;
}

.social_icon {
  height: 70px;
  width: 70px;
  background-color: $med-purple;
  border-radius: 100%;
  @extend %flex;
  @extend %flex-center;
  margin: 22px 0 22px 22px;
  @extend %flex-align;
  @include breakpoint(large){
      margin-left: 0;
  }
}


.social_text {
  margin-left: 20px;
}

ul.traffic_nav {
   @include breakpoint(medium){
    -webkit-padding-start: 0;
  }
}

.traffic_nav li {
  list-style: none;
  padding: 5px 12px;
  margin-left: 1.2em;
  cursor: pointer;
  @include breakpoint(medium){
      margin-left: 0;
  }
}

.traffic_mobile, .social_stats_widget, .members, .message_settings {
  border-top: 1px solid $light-grey;
}

h1 {
  @include breakpoint(medium){
      padding-bottom: .5em;
    }
}

.members {
  margin-top: 50px;

  h3 {
    margin: 25px 0 0;
  }
}

h2, h3, .alert p, p {
  -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h2 {
    padding: 20px 0;
    border-right: 1px solid $light-grey;
    width: 15%;
    margin: 0 auto;
    @include breakpoint(large){
      width: 25%;
    }
    @include breakpoint(medium){
      width: 100%;
      padding: 30px 0;
      border-right: none;
      border-bottom: 1px solid $light-grey;
    }
}

h3 {
  align-self: flex-start;
  margin: 26px 0 20px;
}

.alert {
  width: 95%;
  @extend %flex-align;
  margin: 22px auto;
  padding: .7em 0;
  background-color: $med-purple;
  border-radius: 4px;
}

#alert_text {
  margin-left: 1em;
  align-self: center;
}


.alert p {
  margin-left: 1em;
}

.alert {
  @extend %flex-space;
}

i.fa.fa-times {
    padding: 2px;
    margin-right: 1em;
    font-size: 1.2em;
    color: white;
}

.profile_avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.activity_svg {
    height: 30px;
    width: 30px;
    margin-left: 1em;
    fill: $med-purple;
    @include breakpoint(medium){
      display: none;
    }
}

li.nav_icons, .traffic_nav li, button, .alert, .social_widget, .member_info, .user_name, #bell_icon {
  &:hover {
    opacity: .6;
  }
}

/* Form Styles */

.main_header form {
  border-bottom: 1px solid $light-grey;
  @include breakpoint(medium){
      border-bottom: none;
    }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"], textarea, select {
  border-style: none;
  border-radius: 4px;
  border: 1px solid $light-grey;
  padding-left: 1em;
  &:focus {
    border: 2px solid $neon-green;
    outline: 0;
  }
}

.main_search, .select {
  position: relative;
}

i.fa.fa-search, i.fa.fa-chevron-right {
    position: absolute;
    right: 1em;
    top: .8em;
    color: $med-purple;
}

textarea {
  height: 125px;
}

input[type="search"], select {
  height: 38px;
}

select#DropDownTimezone {
    width: 100%;
}

.main_header input[type="search"] {
  width: 350px; 
  @include breakpoint(medium){
      width: 150px;
    }
}

.main_search {
  margin-right: 2.5%;
  @include breakpoint(medium){
      margin-right: 0;
    }
}

.message_settings {
  input, textarea, select {
    margin-bottom: 20px;
  }
}

.user_error, .message_error {
  font-size: 14px;
  color: $red;
}

button#send, button#save, button#cancel {
  height: 50px;
  border-style: none;
  border-radius: 4px;
}

button#send, button#save {
  background-color: $med-purple;
}

button#cancel {
  background-color: $medlight-grey;
}

button#save, button#cancel {
  width: 50%;
}

button#save {
  margin-right: 28px;
}

textarea#user_message {
    padding-top: 1em;
}


/* Switch Checkbox Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
  }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $medlight-grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $med-purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px $med-purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(59px);
  -ms-transform: translateX(59px);
  transform: translateX(59px);
}




/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#switch1, #switch2 {
  @extend %flex-align;
  width: 60%;
  @extend %flex-space;
  margin-bottom: 30px;
}

#switch1 {
  margin-top: 6px;
  margin-bottom: 30px;
}

#switch2 {
  margin-bottom: 53px;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: inherit;
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: $white;
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: $white;
  opacity: 0;
}

input:checked ~ .switch-label:before {
  opacity: 0;
}
input:checked ~ .switch-label:after {
  opacity: 1;
}