/* Variables -------------------- */

// Descriptive color variables

$white          : #fff;
$black          : #000;
$med-purple     : #7377bf;
$dark-purple    : #4d4c72;
$grey-purple    : #a6a6b9;
$royal-purple   : #9c9ed0;
$neon-green     : #81c98f;
$med-grey       : #676666;
$dark-grey      : #666666;
$light-grey     : #e0e0e0;
$medlight-grey  : #b2b2b2;


// Font 

$body-font          : 16px;
$large-header-font  : 1.5em;
$medium-header-font : 1.1em;
$main-nav-font      : .85em;
$portfolio-font     : .95em;
$footer-font        : .8em;
$med-intro-font     : 20px;
$large-contact-font : 19px;


$stack-sans-serif : sans-serif;
